# Python junk
__pycache__/
*.py[cod]
*$py.class

# Mac junk
.DS_Store

# Virtual Environments (Modify if your venv is named differently)
venv/
env/
.env

# IDE settings
.vscode/
.idea/

# Output files from your script (Optional, if you don't want to track them)
*.xyz
*.mol
